<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Article</title>
</head>
<body>
    <div class="container">
        <a th:href="@{/}">Home</a>
        <div class="article">
            <h2 th:text="${article.title}">Title</h2>
            <h5 th:text="'Written by ' + ${article.account.firstName}">Account First Name</h5>
            <h5 th:text="'Created at ' + ${article.articleCreated}">Created At</h5>
            <h5 th:text="'Last Updated on ' + ${article.articleUpdated}">Updated on</h5>
            <p th:text="${article.content}">body text</p>
        </div>
        <ul sec:authorize="isAuthenticated()">
            <li><a th:href="@{'/articles/' + ${article.id} + '/edit'}">Edit</a></li>
            <li><a th:href="@{'/articles/' + ${article.id} + '/delete'}">Delete</a></li>
        </ul>
        
        
    </div>

</body>
</html>
