<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Update Article</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        forced_root_block : "", selector: '#mytextarea',
          plugins: 'image code',
          toolbar: 'undo redo | link image | code',
          /* enable title field in the Image dialog*/
          image_title: true,
          /* enable automatic uploads of images represented by blob or data URIs*/
          automatic_uploads: true,
          /*
            URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
            images_upload_url: 'postAcceptor.php',
            here we add custom filepicker only to Image dialog
          */
          file_picker_types: 'image',
          /* and here's our custom image picker*/
          file_picker_callback: function (cb, value, meta) {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');

            /*
              Note: In modern browsers input[type="file"] is functional without
              even adding it to the DOM, but that might not be the case in some older
              or quirky browsers like IE, so you might want to add it to the DOM
              just in case, and visually hide it. And do not forget do remove it
              once you do not need it anymore.
            */

            input.onchange = function () {
              var file = this.files[0];

              var reader = new FileReader();
              reader.onload = function () {
                /*
                  Note: Now we need to register the blob in TinyMCEs image blob
                  registry. In the next release this part hopefully won't be
                  necessary, as we are looking to handle it internally.
                */
                var id = 'blobid' + (new Date()).getTime();
                var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                var base64 = reader.result.split(',')[1];
                var blobInfo = blobCache.create(id, file, base64);
                blobCache.add(blobInfo);

                /* call the callback and populate the Title field with the file name */
                cb(blobInfo.blobUri(), { title: file.name });
              };
              reader.readAsDataURL(file);
            };

            input.click();
         },
          content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });
    </script>
    <div class= "post-image">
             <img [src]= "post. imagePath" [alt]= "post. title">
        </div>
</head>
<body>
<div class="container">
        
        <a th:href="@{/}">Home</a>
        <form action="#"
              th:action="@{'/articles/{id}'(id=${article.id})}"
              th:object="${article}"
              method="POST">
              
            <input type="hidden" th:field="*{account}" />
            <input type="hidden" th:field="*{articleCreated}" />
            <h2>Update Article</h2>
            <div>
                <label for="new-article-title">Title</label>
                <input id="new-article-title" type="text" th:field="*{title}" placeholder="Title"/>
            </div>
         <!--   <div>
                <label for="new-article-hashtag">Hashtag</label>
                <input id="new-article-hashtag" type="text" th:field="*{hashtag}" placeholder="Hashtag"/>
            </div>-->
            <div>
                <label for="new-article-content">Content</label>
                <textarea id="mytextarea" type="text" th:field="*{content}"></textarea>
            </div>
         
            <button type="submit">Publish Article</button>
        </form>
        
    </div>
</body>
</html>