<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog :: Article</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    box-sizing: border-box;
	font-family: 'DM Serif Display', serif;
}

body {
  padding: 20px;
  background: #f1f1f1;
}

h1{
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
  border-radius: 30px;
  }

  .article {
  float: left;
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 30px;
}
  </style>
</head>
<body>
<h1>Spring Boot Blog Application</h1>
    <a th:href="@{/}">Home</a>
    <div class="container" style="max-width: 500px;margin: auto;">
        <div class="card mb-4 border-0" style="width: 20rem;">
        
        <div class="text-center m-4">
            <h2 th:text="${article.title}">Title</h2>
        <!--    <h5 th:text="${hashtag.hashtagName}">Hashtag</h5> -->
            <h5 th:text="'Written by ' + ${article.account.firstName}">Account First Name</h5>
            <h5 th:text="'Created at ' + ${article.articleCreated}">Created At</h5>
            <h5 th:text="'Last Updated on ' + ${article.articleUpdated}">Updated on</h5>
            <p class="card-text" th:text="${article.content}">body text</p>
        </div>
        <div class="card-deck justify-content-center gap">
            <img class="card-img-top" th:src="${'/images/article-' + article.id }"  
                 style="border-radius: 50% 20% / 10% 40%;" 
                 onerror="this.src='/images/placeholder.png';" >
        </div>
            <br>
            <br>
        <ul style="list-style-type: none;" sec:authorize="isAuthenticated()">
            <li style="list-style-type: none;"><a  th:href="@{'/articles/' + ${article.id} + '/edit'}" class="btn btn-primary btn-block">Edit</a></li>
            <li style="list-style-type: none;"><a  th:href="@{'/articles/' + ${article.id} + '/delete'}" class="btn btn-danger btn-block">Delete</a></li>
        </ul>
        
      </div>  
    </div>

</body>
</html>
