<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        forced_root_block : "", selector: '#mytextarea'
      });
    </script>
    <title>Blog :: Article</title>
</head>
<body>
<div class="container">
        
        <a th:href="@{/}">Home</a>
        <form action="#"
              th:action="@{'/articles/new'}"
              th:object="${article}"
              method="POST">
              
            <input type="hidden" th:field="*{account}" />
            <input type="hidden" th:field="*{articleCreated}" />
            <h2>Write new Article</h2>
            <div>
                <label for="new-article-title">Title</label>
                <input id="new-article-title" type="text" th:field="*{title}" placeholder="Title"/>
            </div>
        <!--    <div>
                <label for="new-article-hashtag">Hashtag</label>
                <input id="new-article-hashtag" type="text" th:field="*{hashtag}" placeholder="Hashtag"/>
            </div>-->
            <div>
                <label for="new-article-content">Content</label>
                <textarea id="mytextarea" type="text" th:field="*{content}"></textarea>
            </div>
        <div>    
            Add a Picture <input id="file" type="file" name="file" accept=".jpg,.jpeg, .png">
        </div>
            <button type="submit">Publish Article</button>
        </form>
        
    </div>
</body>
</html>