@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    background-color: rgb(180, 216, 239);
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: 'DM Serif Display', serif;
}


h1, h2 {
    padding-top:15px;
    text-align: center;
    color: rgb(2, 2, 39);
}

form{
    box-sizing:border-box;
  padding-top:15px;
	padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}

button {
    background-color: rgb(217, 61, 186);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  form{    
    width: 300px;

    padding: 50px;
    position:absolute;
    top:30%;
    left:50%;
    margin-top:-50px; /* this is half the height of your div*/  
    margin-left:-100px;
    }

#email, #password{
    background-color: white;
}